* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #161a2b;
}
.App {
  height: 100vh;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  font-size: 24px;
  text-align: center;
  letter-spacing: 10px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
.theme-btn {
  background-color: #fff;
  border: 1px solid #161a2b;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 16px;
  margin-left: 2rem;
}
.complete {
  text-decoration: line-through;
  opacity: 0.4;
}
.todo-form {
  margin-bottom: 12px;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  height: 47.5px;
  background: transparent;
  color: #fff;
  text-align: center;
}

.todo-input::placeholder {
  color: #afafaf;
}

.todo-input:focus {
  box-shadow: 0 0 15px #5d0cff;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.todo-button:hover {
  opacity: 0.7;
}

.update-todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #0cceff;
  outline: none;
  width: 320px;
  height: 47.5px;
  background: transparent;
  color: #fff;
  text-align: center;
  animation: fadeIn 1.5s;
}
.update-todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(12, 255, 182) 0%,
    rgb(0, 137, 250) 100%
  );
  color: #fff;
  text-transform: capitalize;
  font-weight: bolder;
  margin-bottom: 2rem;
  animation: fadeIn 1.5s;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px auto;
  border: 1px solid #5d0cff;
  padding: 16px;
  border-radius: 5px;
  width: 700px;
  animation: fadeIn 1.5s;
}

@media screen and (max-width: 768px) {
  .todo-row {
    width: 90%;
  }
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
}

.edit-icon {
  margin-right: 5px;
}

.delete-icon:hover {
  color: #f04176;
  cursor: pointer;
}
.edit-icon:hover {
  color: #50bd1d;
  cursor: pointer;
}

.theme-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.theme-btn {
  background-color: inherit;
  border: 1.5px solid #5d0cff;
}
